* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,9,102,1) 35%, rgb(47, 132, 147) 100%);
    padding: 1rem 4rem;
    max-width: 1900px;
}

.logo h1 {
    color: whitesmoke;
    font-size: 40px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: orangered;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* bg image */
.bg-image{
    background-image: linear-gradient(120deg, #0e3470 0%, #5b1f57 100%);
}

/* Hi i am */
.habibur-div{
    margin-left: 100px;
}


.Habibur{
    
    padding: 100px 4rem;
    width: 1320px;
    display: flex;
    
    
    
   
}
.Habibur h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}
.Habibur h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.Habibur p{
    color: rgb(248, 243, 243);
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 300px;
    text-align: left;
}
button{
    padding: 14px 28px;
    background-color: #5b1f57;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
}
button:hover{
    color: whitesmoke;
    background-color: rgb(8, 74, 8);
    transition: background-color, color 0.2s;
    transition-delay: 0.2s;
}
.img-tanim{
    border-radius: 20px;
}



img{
    height: 500px;
    width: 400px;
    
    
}

/* hero section */

.hero{
    margin: 20px 40px;
    padding: 50px 80px;
    color: white;
    
    
}
.section-description{
    text-align: center;
    color: rgb(157, 143, 143);
    margin-bottom: 20px;
}

.section-title{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
    
    margin-bottom: 15px;
}
.about-info{
    /* width: 70%; */
    margin: 20px auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}
.about-info h4{
    text-align: center;
    margin-right: 20px;
}
.info{
    
    color: rgb(168, 185, 201);
    display: flex;
    justify-content: space-around;
    /* width: 70%; */
    margin: 10px auto;
    padding: 0 50px;
}
.info h3{
    margin-right: 20px;
}
.hero-container{
    background-color: rgb(8, 75, 75);
    border: 10px solid  rgb(8, 75, 75);
    border-radius: 20px;
    padding: 20px 50px;
    
}

/* what i do section */

.what-i-do{
    padding-bottom: 50px;
}

.i-do-img{
    padding: 15px 0px 15px 25px;
    margin-right: 15px;
    color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

   
    
    
}
.i-do-img img{
    width: 45px;
    height: 50px;
    margin-bottom: 10px;
}
.i-do-main{
    background-image: linear-gradient(130.00deg,
    rgb(9, 94, 67) 20%, #402541 35%, rgb(9, 94, 67) 100%) ;
    margin: 30px 100px;
    padding: 50px 50px;
    border: 5px solid  rgb(9, 94, 67) 20%, #402541 35%, rgb(9, 94, 67) 100%;
    border-radius: 20px;
    justify-content: space-around;
    
    
}
.image-i-do{
    display: flex;
    box-sizing: border-box;
    
    
    

}
.i-do-title{
    margin-bottom: 10px;
}
.i-do-des{
    color: rgb(205, 195, 195);
    padding-right: 10px;
    margin-right: 50px;
}

/* A summary of resume */
    .summary-section{
        color: white;
        margin: 0px 100px;
        width: 1320px;
        padding-bottom: 20px;

    }
    .summary-details h2{
        text-align: center;
        margin-top: 50px;
    }
    .education{
        display: flex;
        margin-top: 30px;
        text-align: center;
    }
    .education h3{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .education h5{
        font-size: 18px;
        margin-bottom: 10px;

    }
    .education p{
        font-size: 15px;
        color: rgb(201, 193, 193);
        margin: 0 50px 20px;
    }
    /* download cv */
    #download-cv{
        text-align: center;
        padding-bottom: 100px;

    }

    /* footer */
    .footer-container{
        width: 1320px;
        margin: 10px 100px;
        padding: 20px 40px;
        display: flex;
        border-radius: 20px;
        
        background-color: rgb(6, 71, 71);
    }
    .img-social img{
        height: 30px;
        width: 30px;
    }
    .Lets-Contact{
        color: white;
    }
    .footer-container h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .footer-container p{
        font-size: 18px;
        color: rgb(219, 201, 201);
        margin-bottom: 20px;
    }
    .Lets-Massage-Me{
        color: white;
    }
    .Lets-Massage-Me input{
        display: block;
    }
    .img-social img{
        margin-right: 10px;


    }
    .input .text {
        border-radius: 5px;
        background: rgb(255, 255, 255);
        padding: 10px 20px 10px 10px;
        border: none;
        margin-bottom: 10px;

    }
    .input .btn-footer{
        padding: 10px 20px;
        background-color: orangered;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 400;
    }
    .btn-footer:hover{
        background-color: forestgreen;
        font-size: 20px;
        font-weight: 600;
    }
    


/* Media query for screens 900px or smaller */
@media (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 30%;
        background: linear-gradient(90deg,  rgb(24, 60, 88)35%, rgb(21, 8, 101) 100%);
        position: absolute;
        top: 60px;
        right: 0;
        /* left: 0; */
        
        
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .nav-links.show {
        display: block;
    }
    .habibur-div{
        margin-left: 10px;
    }

    .Habibur{
        padding: 50px 2rem;
        width: 100%;
        display: block;
    }

    .Habibur h1{
        font-size: 40px;
    }

    .Habibur p{
        font-size: 16px;
        margin-right: 20px;
    }

    button{
        padding: 10px 20px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    img{
        height: 300px;
        width: 230px;
    }

    .hero{
        margin: 10px 20px;
        padding: 30px 50px;
    }

    .section-title{
        font-size: 30px;
    }

    .about-info, .info {
        flex-direction: column;
        padding: 0px 20px;
    }

    .i-do-main{
        margin: 20px 50px;
        padding: 30px 30px;
    }

    .summary-section{
        margin: 0px 20px;
        width: 100%;
    }

    .education{
        flex-direction: column;
        text-align: left;
        margin: 20px 0;
    }

    .education p{
        margin: 0 20px 20px;
    }

    #download-cv{
        padding-bottom: 50px;
    }

    .footer-container{
        margin: 10px 20px;
        width: 100%;
        flex-direction: column;
    }

    .img-social img{
        height: 25px;
        width: 25px;
    }

    .input .text {
        width: 100%;
        padding: 8px 10px;
    }

    .input .btn-footer{
        padding: 8px 15px;
    }
    .about-info h4{
        margin-bottom: 10px;
    }
    .info h3{
        margin-bottom: 10px;
    }
    
    
    .i-do-main{
        margin: 0 auto;
    }
    .image-i-do{
        flex-direction: column;
        margin-left: 20px;
        
    }
    .i-do-img{
        flex: 1 1 100%;
        margin: 0 auto 20px ;
    }
    .hero-container{
        padding: 0 10px;
    }
    .summary-section{
        padding: 50px;
        
    }
    .edu-2{
        margin-top: 20px;
    }
    .btn-cv{
        margin-top: -50px;
    }
    .btn-cv button:hover{
        background-color: rgb(3, 48, 44);
    }
    .btn-cv button{
        padding: 20px 30px;
        background-color: #0e3470;
    }
    .footer-container{
        margin: 0 auto;
        border-radius: 40px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .img-social img{
        height: 60px;
        width: 60px;
}
    

   
    .Lets-Massage-Me{
        margin-top: 20px;
    }
    .text{
       width: 100%;
       
    }
    .input{
        padding-bottom: 100px;
    }
    .btn-footer{
        text-align: center;
    }

}

