* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,9,102,1) 35%, rgb(47, 132, 147) 100%);
    padding: 1rem 4rem;
    max-width: 1900px;
}

.logo h1 {
    color: whitesmoke;
    font-size: 40px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: orangered;
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* bg image */
.bg-image{
    background-image: linear-gradient(120deg, #0e3470 0%, #5b1f57 100%);
}

/* Hi i am */
.habibur-div{
    margin-left: 100px;
}


.Habibur{
    
    padding: 100px 4rem;
    width: 1320px;
    display: flex;
    
    
    
   
}
.Habibur h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}
.Habibur h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.Habibur p{
    color: rgb(248, 243, 243);
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 300px;
    text-align: left;
}
button{
    padding: 14px 28px;
    background-color: #5b1f57;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
    cursor: pointer;
}
button:hover{
    color: whitesmoke;
    background-color: rgb(8, 74, 8);
    transition: background-color, color 0.2s;
    transition-delay: 0.2s;
}



img{
    height: 500px;
    width: 400px;
    
    
}

/* hero section */

.hero{
    margin: 20px 40px;
    padding: 50px 80px;
    color: white;
    
    
}
.section-description{
    text-align: center;
    color: rgb(157, 143, 143);
    margin-bottom: 20px;
}

.section-title{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
    
    margin-bottom: 15px;
}
.about-info{
    /* width: 70%; */
    margin: 20px auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}
.about-info h4{
    text-align: center;
    margin-right: 20px;
}
.info{
    
    color: rgb(168, 185, 201);
    display: flex;
    justify-content: space-around;
    /* width: 70%; */
    margin: 10px auto;
    padding: 0 50px;
}
.info h3{
    margin-right: 20px;
}
.hero-container{
    background-color: rgb(8, 75, 75);
    border: 10px solid  rgb(8, 75, 75);
    border-radius: 20px;
    padding: 20px 50px;
    
}

/* what i do section */














/* Media query for screens 900px or smaller */
@media (max-width: 900px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 30%;
        background: linear-gradient(90deg,  rgb(24, 60, 88)35%, rgb(21, 8, 101) 100%);
        position: absolute;
        top: 60px;
        right: 0;
        /* left: 0; */
        
        
    }

    .nav-links li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    .nav-links.show {
        display: block;
    }
}
/* hi i am */

.Habibur{
    
    padding: 50px 40px;
    max-width: 1320px;
     
    
   
   
}
.Habibur h3{
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: left;

}
.Habibur h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}
.Habibur p{
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
}
